body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

h2, h4, p {
  margin: 0;
}

a {
  color: black;
  display: inline-block;

  &:hover {
    background-color: black;
    color: white;
  }

  &:link,
  :visited {
    color: black;
  }
}

img {
  width: 40vw;

  @media only screen and (max-width: 1200px) {
    width: 75vw;
  } 
}

.container {
  align-items: center;
  display: flex;
  gap: 88px;
  justify-content: center;
  padding: 88px 32px;

  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  } 
}

.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 56px;
  width: 400px;

  @media only screen and (max-width: 1200px) {
    width: 75vw;
  } 
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.code-things {
  display: flex;
  flex-direction: column;
  gap: 16px;
}