/* * {
  border: 1px solid black;
} */

html,
body {
  color: gray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  height: 100%vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

h2,
h4,
p {
  margin: 0;
}

a {
  background-color: white;
  color: black;
  display: inline-block;
  text-decoration: none;
  user-select: none;

  &:hover {
    text-decoration: underline;
  }

  &:link,
  :visited {
    color: black;

    /* &:hover {
      text-decoration-color: red;
    } */
  }
}

a.sidebar-link {
  border: 2px solid gray;
  color: gray;
  padding: 4px 8px;
  width: 100%;

  &:hover {
    background-color: black;
    border: 2px solid black;
    color: white;
  }
}

a.sidebar-link.current-page {
  background-color: black;
  border: 2px solid black;
  color: white;
}

/* img {
  width: 40vw;

  @media only screen and (max-width: 1200px) {
    width: 75vw;
  }
} */

.container {
  display: flex;
  gap: 88px;
  height: 100%;
  padding: 88px;
  width: 100%;

  /* @media only screen and (max-width: 1200px) {
    flex-direction: column;
  } */
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 400px;

  /* @media only screen and (max-width: 1200px) {
    width: 75vw;
  } */
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.code-things {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
