/* * {
  border: 1px solid black;
} */

html,
body {
  font-family: monospace;
  font-size: 20px;
  height: 100%vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

h2,
h4,
p {
  margin: 0;
}

a {
  background-color: white;
  color: black;
  display: inline-block;

  &:hover {
    background-color: red;
    color: white;
  }

  &:link,
  :visited {
    background-color: white;
    color: black;

    &:hover {
      background-color: red;
      color: white;
    }
  }
}

/* img {
  width: 40vw;

  @media only screen and (max-width: 1200px) {
    width: 75vw;
  }
} */

.container {
  display: flex;
  gap: 88px;
  height: 100%;
  padding: 88px;
  width: 100%;

  /* @media only screen and (max-width: 1200px) {
    flex-direction: column;
  } */
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 400px;

  /* @media only screen and (max-width: 1200px) {
    width: 75vw;
  } */
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.code-things {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
